h1{
  font-family: 'Droid Sans', sans-serif;
  font-size: 40pt;
  text-align: center;
  margin-top: 30px;

}

h2{
  font-family: 'Pacifico', cursive;
  font-size: 30pt;
  text-align: center;

}
img{
  border-radius:50%;
  margin:25px auto;
  display: block;
}
body{
  background-color: #FFF57A;

  }
  nav ul {
   list-style-type: none;
   text-align: center;
   margin-top: 25px;
   margin-bottom: 50px;
  }

  nav li {
   display: inline;
   font-family: 'Rubik', sans-serif;

   }
  nav a:link, nav a:visited{
   color: #000;
   background-color: #FFA576;
   border-radius: 10px;
   text-decoration: none;
   padding: 4px 6px;
   margin: 8px;
   font-size: 15px;
  }
  nav a:hover{
   color: #000;
   background-color: #FFD700;
   text-decoration: none;
   font-size: 15px;
  }
  nav a.current {
   background-color: #E8705E;
  }
