@charset "utf-8";
/* CSS Document */

h1{
  font-family: 'Pacifico', cursive;
  color: #361940;
  font-size: 40pt;
  text-align: center;

  margin-top: 80px;
}
p{
	padding:15px;

  margin:0 auto;
  font-size:16px;
  color:white;
  width:400px;
  font-family: 'Prociono', serif;
}

img{
  height:400px;
  border-style: outset;
  margin:25px auto;
  display: block;
}
body{
 background-image: url("../../img/background.jpg") ;
 background-repeat: no-repeat;
   background-position: right top;
   background-attachment: fixed;
   background-size: 100% 100%;
   }
  nav ul {
   list-style-type: none;
   text-align: center;
   margin-top: 25px;
   margin-bottom: 50px;
  }

  nav li {
   display: inline;
   font-family: 'Rubik', sans-serif;

   }
  nav a:link, nav a:visited{
   color: #000;
   background-color: #FFA576;
   border-radius: 10px;
   text-decoration: none;
   padding: 4px 6px;
   margin: 8px;
   font-size: 15px;
  }
  nav a:hover{
   color: #000;
   background-color: #FFD700;
   text-decoration: none;
   font-size: 15px;
  }
  nav a.current {
   background-color: #E8705E;
  }
